.topFixedBanner {
  background-image: url("../image/banner.jpg");
  min-height: 550px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.topFixedBannerOverlay {
  position: absolute;
  min-height: 550px;
  width: 100%;
  background: rgb(0, 0, 0, 0.7);
}
.topContent {
  margin-top: 10em;
}
.TopTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 48px;
}
.TopSubTitle {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 22px;
}
.ecommerceIcon {
  height: 80px;
  width: 80px;
}
.designIcon {
  height: 80px;
  width: 80px;
}
.webIcon {
  height: 80px;
  width: 80px;
}
